{% extends "admin:admin/base.html" %}

{% block sidebar %}
{{ block.super }}
        <div>

        <ul>
            <li>
                <p><a href="/info_collect/batch_add_cmd/" class="addlink">Batch add company movie duty</a></p>
                <p><a href="/info_collect/batch_add_pmd/" class="addlink">Batch add producer movie duty</a></p>
                <p><a href="/info_collect/batch_add_cmd11m/" class="addlink">Batch add company movie duty 1-1-M</a></p>
            </li>
        </ul>
    </div>
{% endblock %}